* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  /* font-size: 200%; */
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
}

hr {
  width: 8%;
  height: 0px;
  border: 8px dotted;
  border-top: none;
  color: #d3d3d3;
  margin: 30px auto;
}

.top-container {
  background-color: #eaf6f6;
  padding: 20px;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mountain {
  margin-bottom: 0;
}

.middle-container {
  padding: 40px;
}

.problems {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.learning {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skills {
  width: 50%;
  margin: auto;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
}

.skill-content {
  line-height: 2;
}

.bottom-container {
  background-color: #65bfbf;
}

.email-button {
  position: relative;
  background-color: #10aab0;
  margin: 20px;
}

.flaticon {
  display: block;
}
